.table-list
  .button
    width: 100%
    padding-bottom: ds.rem(17)

    html[data-theme="yellow-light"] &
      border-bottom: 1px solid rgba(ds.$rgb-tertiary, .2)

    html[data-theme="yellow-dark"] &
      border-bottom: 1px solid rgba(ds.$rgb-tertiary, .5)

  ol
    li
      margin: ds.rem(7) 0

      a
        display: flex
        gap: ds.rem(5)
        align-items: center
        @include ds.fw(pre, 700)
        font-size: ds.rem(16)

        html[data-theme="yellow-light"] &
          color: ds.$hex-primary

        html[data-theme="yellow-dark"] &
          color: ds.$hex-bright

        &:hover, &:focus-visible
          text-decoration: underline

      &.link
        a
          color: ds.$hex-accent!important

.site-info
  display: flex
  flex-direction: row
  padding: ds.rem(17)

  .avatar
    width: ds.rem(58)
    height: ds.rem(58)

    div
      width: ds.rem(58)
      height: ds.rem(58)

  .info
    display: flex
    flex-direction: column

    .info-detail
      display: flex
      flex-direction: column
      font-size: ds.rem(12)
      letter-spacing: -.05em

      em
        font-style: normal

      span
        @include ds.fw(pre, 600)

    .button
      margin-top: ds.rem(7)

      button, a
        display: inline-flex
        background-color: transparent
        border-radius: ds.rem(3)
        padding: ds.rem(3) ds.rem(7)
        @include ds.fw(pre, 500)
        font-size: ds.rem(12)

        html[data-theme="yellow-light"] &
          border: 1px solid rgba(ds.$rgb-tertiary, .2)
          color: rgba(ds.$rgb-secondary, .7)

        html[data-theme="yellow-dark"] &
          border: 1px solid rgba(ds.$rgb-tertiary, .5)
          color: rgba(ds.$rgb-light, .7)

.info-dialog
  .info-content
    display: flex
    flex-direction: column
    gap: ds.rem(12)

  .info-site-name
    display: flex
    gap: ds.rem(7)
    align-items: center

    em
      display: flex
      background-color: ds.$hex-accent
      border-radius: ds.rem(13)
      padding: ds.rem(7) ds.rem(12)
      @include ds.fw(pre, 600)
      font-size: ds.rem(12)
      font-style: normal
      color: ds.$hex-white
      line-height: 1

    strong
      @include ds.fw(neo, 800)
      font-size: ds.rem(14)

  dl
    border-radius: ds.rem(7)
    padding: ds.rem(12)
    border: 1px solid rgba(ds.$rgb-tertiary, .1)

  .info-site-detail
    display: flex
    flex-direction: column
    gap: ds.rem(7)

    > div
      display: flex
      flex-direction: column

      dt
        @include ds.fw(neo, 800)
        font-size: ds.rem(12)
          color: rgba(ds.$rgb-primary, .6)

      dd
        font-size: ds.rem(14)
        color: ds.$hex-secondary

  .info-site-managers
    display: flex
    flex-direction: column
    gap: ds.rem(7)

    > div
      display: flex
      flex-direction: column

      dt
        @include ds.fw(neo, 800)
        font-size: ds.rem(12)
          color: rgba(ds.$rgb-primary, .6)

      dd
        font-size: ds.rem(14)
        color: ds.$hex-secondary

        ul
          padding-left: ds.rem(17)
          list-style-type: none
          display: block

          li
            position: relative

            &::before
              display: inline-block
              position: absolute
              content: ''
              background-color: ds.$hex-secondary
              border-radius: 50%
              width: ds.rem(5)
              height: ds.rem(5)
              margin-top: ds.rem(7)
              margin-left: ds.rem(-12)
