.table-list
  .button
    width: 100%
    padding-bottom: ds.rem(17)

    html[data-theme="yellow-light"] &
      border-bottom: 1px solid rgba(ds.$hex-tertiary, .2)

    html[data-theme="yellow-dark"] &
      border-bottom: 1px solid rgba(ds.$hex-tertiary, .5)

  ol
    li
      margin: ds.rem(7) 0

      a
        display: flex
        gap: ds.rem(5)
        align-items: center
        @include ds.fw(pre, 700)
        font-size: ds.rem(16)

        html[data-theme="yellow-light"] &
          color: ds.$hex-primary

        html[data-theme="yellow-dark"] &
          color: ds.$hex-bright

        &:hover, &:focus-visible
          text-decoration: underline

      &.link
        a
          color: ds.$hex-accent!important
