.content
  max-width: ds.rem(807)

.site-info
  .site-info-header
    display: flex
    flex-direction: row
    justify-content: space-between

  .info-site-name
    display: flex
    gap: ds.rem(7)
    align-items: center

    em
      display: flex
      background-color: ds.$hex-accent
      border-radius: ds.rem(13)
      padding: ds.rem(7) ds.rem(12)
      @include ds.fw(pre, 600)
      font-size: ds.rem(12)
      font-style: normal
      color: ds.$hex-white
      line-height: 1

      html[data-site-type='blog'] &
        font-family: var(--blog-description-font-family)
        font-weight: 600
        font-variation-settings: "wght" 600

    strong
      @include ds.fw(neo, 800)
      font-size: ds.rem(18)

      html[data-site-type='blog'] &
        font-family: var(--blog-subject-font-family)
        font-weight: 800
        font-variation-settings: "wght" 800

  .info-site-favorite
    .button
      display: inline-flex
      align-items: center
      gap: ds.rem(5)
      background-color: transparent

      &:disabled
        opacity: .5

      &.active
        color: ds.$hex-accent!important

      html[data-theme="yellow-light"] &
        color: rgba(ds.$rgb-secondary, .6)

      html[data-theme="yellow-dark"] &
        color: rgba(ds.$rgb-light, .6)

      strong
        @include ds.fw(pre, 600)

      em
        @include ds.fw(neo, 400)
        font-style: normal
        font-size: ds.rem(12)

  .info-date
    font-size: ds.rem(12)
    opacity: .5

  .info-summary
    white-space: pre-wrap
    font-size: ds.rem(14)
    line-height: 1.5
    letter-spacing: -.025em

  .members
    display: flex
    flex-direction: column
    gap: ds.rem(7)
    padding-top: ds.rem(12)
    width: 100%

    strong
      @include ds.fw(neo, 600)
      font-size: ds.rem(16)
      letter-spacing: -.05em

    .member-items
      display: grid
      grid-template-columns: repeat(1, 1fr)
      gap: ds.rem(12)
      width: 100%
      letter-spacing: -.025em

      @include ds.mq(minMedium)
        grid-template-columns: repeat(2, 1fr)

    .member-item
      display: flex
      flex-direction: column
      gap: ds.rem(12)
      color: ds.$hex-secondary

      @include ds.mq(minMedium)
        @include ds.col

      html[data-theme="yellow-light"] &
        border: 1px solid rgba(ds.$rgb-tertiary, .2)

      html[data-theme="yellow-dark"] &
        border: 1px solid rgba(ds.$rgb-tertiary, .5)

      .general-items
        html[data-theme="yellow-light"] &
          color: ds.$hex-secondary

        html[data-theme="yellow-dark"] &
          color: ds.$hex-light

      .name
        display: inline-flex
        align-items: center
        gap: ds.rem(3)
        @include ds.fw(pre, 500)

        html[data-theme="yellow-light"] &
          color: ds.$hex-primary

        html[data-theme="yellow-dark"] &
          color: ds.$hex-bright

        span
          @include ds.fw(pre, 400)
          opacity: .7

      .job, .date, .description
        opacity: .7
        font-size: ds.rem(14)

      .descriptions
        display: flex
        flex-direction: column
        gap: ds.rem(7)
        padding-top: ds.rem(7)

        .description
          white-space: pre-wrap

  .buttons
    display: flex
    gap: ds.rem(7)
    flex-wrap: wrap

    .manage-advanced-buttons
      display: flex
      gap: ds.rem(7)
      flex-wrap: wrap

    button
      padding: 0 ds.rem(23)

.educations-items
  display: flex
  flex-direction: column

  html[data-theme="yellow-light"] &
    color: ds.$hex-secondary

  html[data-theme="yellow-dark"] &
    color: ds.$hex-light

  p
    display: flex
    gap: ds.rem(7)
    @include ds.fw(neo, 600)
    font-size: ds.rem(12)

    span, time
      @include ds.fw(pre, 400)
      opacity: .7

.awards-items
  display: flex
  flex-direction: column

  html[data-theme="yellow-light"] &
    color: ds.$hex-secondary

  html[data-theme="yellow-dark"] &
    color: ds.$hex-light

  p
    display: flex
    gap: ds.rem(7)
    @include ds.fw(neo, 600)
    font-size: ds.rem(12)

    span, em
      @include ds.fw(pre, 400)
      opacity: .7

    span
      display: flex
      gap: ds.rem(5)

.careers-items
  display: flex
  flex-direction: column
  gap: ds.rem(7)

  html[data-theme="yellow-light"] &
    color: ds.$hex-secondary

  html[data-theme="yellow-dark"] &
    color: ds.$hex-light

  p
    display: flex
    gap: ds.rem(7)
    font-size: ds.rem(12)

  .organization
    @include ds.fw(neo, 600)

  .posrole, .time
    @include ds.fw(pre, 400)
    opacity: .7

.projects-items
  display: flex
  flex-direction: column
  gap: ds.rem(7)

  html[data-theme="yellow-light"] &
    color: ds.$hex-secondary

  html[data-theme="yellow-dark"] &
    color: ds.$hex-light

  p
    display: flex
    gap: ds.rem(7)
    font-size: ds.rem(12)

  .subject
    @include ds.fw(neo, 600)

  a
    color: ds.$hex-action
    font-size: ds.rem(12)
    text-decoration: underline

  .org, .name, .description, .time, a
    @include ds.fw(pre, 400)
    opacity: .7

.dnd
  display: flex
  gap: ds.rem(7)

  .dnd-items
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%

    .dnd-item
      display: flex
      flex-direction: column

    button
      padding: 0 ds.rem(7)
      height: ds.rem(20)
      font-size: ds.rem(12)
      @include ds.fw(pre, 600)
