.content
  display: flex
  flex-direction: column
  gap: ds.rem(23)

  h2
    display: flex
    gap: ds.rem(5)
    align-items: center

  .form
    fieldset
      display: flex
      flex-direction: column
      gap: ds.rem(23)

      .board-select
        display: flex
        flex-direction: row
        align-items: center
        width: 100%

        .form-select
          .MuiInputBase-root
            height: ds.rem(37)
            padding: 0 ds.rem(12)
            border-radius: ds.rem(7)

            html[data-theme="yellow-light"] &
              background-color: ds.$hex-white
              border-bottom: 1px solid rgba(ds.$hex-tertiary, .1)

            html[data-theme="yellow-dark"] &
              background-color: ds.$hex-black
              border-bottom: 1px solid rgba(ds.$hex-tertiary, .5)

            > div
              padding: 0 ds.rem(23) 0 0
              font-size: ds.rem(16)
              @include ds.fw(pre, 600)

              html[data-theme="yellow-light"] &
                color: ds.$hex-primary

              html[data-theme="yellow-dark"] &
                color: ds.$hex-bright

            fieldset
              top: 0
              height: ds.rem(37)

        p
          padding-left: ds.rem(17)
          @include ds.fw(pre, 700)
          font-size: ds.rem(14)
          color: ds.$hex-warning

      .post-info
        &.post-row
          display: flex
          flex-direction: row
          gap: ds.rem(12)

          .form-group
            @include ds.col

        .form-group
          display: flex
          align-items: center
          flex-drection: row
          height: ds.rem(37)
          position: relative

          .MuiInputBase-root
            height: ds.rem(37)
            padding: 0 ds.rem(12)
            border: 0
            z-index: 1

            > div
              padding: 0 ds.rem(23) 0 0
              font-size: ds.rem(16)
              @include ds.fw(pre, 600)

              html[data-theme="yellow-light"] &
                color: ds.$hex-primary

              html[data-theme="yellow-dark"] &
                color: ds.$hex-bright

            fieldset
              border: 0

          label
            position: relative
            z-index: 1
            padding: 0 ds.rem(23) 0 ds.rem(12)
            font-size: ds.rem(16)
            @include ds.fw(pre, 600)

            html[data-theme="yellow-light"] &
              color: ds.$hex-primary

            html[data-theme="yellow-dark"] &
              color: ds.$hex-bright

          .form-control
            position: absolute
            inset: 0

            .MuiFormControl-root
              height: ds.rem(37)
              z-index: 1

              > div
                height: ds.rem(37)
                border-radius: ds.rem(7)
                padding-left: ds.rem(152)
                font-size: ds.rem(16)
                @include ds.fw(pre, 600)

                html[data-theme="yellow-light"] &
                  color: ds.$hex-primary

                html[data-theme="yellow-dark"] &
                  color: ds.$hex-bright

                div[contenteditable="false"]
                  padding: 0

                fieldset
                  top: 0
                  height: ds.rem(37)

            input
              border-radius: ds.rem(7)
              width: 100%
              height: ds.rem(37)

              html[data-theme="yellow-light"] &
                background-color: ds.$hex-white
                border: 1px solid rgba(ds.$hex-tertiary, .1)

              html[data-theme="yellow-dark"] &
                background-color: ds.$hex-black
                border: 1px solid rgba(ds.$hex-tertiary, .5)

        .image
          button
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: ds.rem(3)
            width: ds.rem(37)
            border-radius: ds.rem(7)
            background-color: transparent

            html[data-theme="yellow-light"] &
              color: ds.$hex-primary

            html[data-theme="yellow-dark"] &
              color: ds.$hex-bright

            svg
              width: ds.rem(35)
              height: ds.rem(35)

            span
              font-size: ds.rem(12)

      .editor
        @include ds.mq(maxLarge)
          width: calc(100vw - ds.rem(287))

      .content-simple
        width: 100%
        height: ds.rem(120)
        border-radius: ds.rem(17)
        padding: ds.rem(23)

        html[data-theme="yellow-light"] &
          background-color: ds.$hex-white
          border: 1px solid rgba(ds.$hex-tertiary, .1)
          color: ds.$hex-primary

        html[data-theme="yellow-dark"] &
          background-color: ds.$hex-black
          border: 1px solid rgba(ds.$hex-tertiary, .5)
          color: ds.$hex-bright

      .button-group
        display: flex
        gap: ds.rem(12)
        justify-content: flex-end

        .link, .button, .submit
          padding: 0 ds.rem(23)

        .link
          html[data-theme="yellow-light"] &
            color: rgba(ds.$hex-primary, .5)

          html[data-theme="yellow-dark"] &
            color: rgba(ds.$hex-bright, .5)

        .button
          background-color: rgba(ds.$hex-accent, .1)
          color: ds.$hex-accent

        .submit
          color: ds.$hex-bright

.thumbnail-dialog
  .thumbnail-dialog-content
    display: flex
    flex-direction: column
    gap: ds.rem(17)

  .thumbnail-dialog-message
    @include ds.fw(pre, 700)
    color: ds.$hex-warning

  .thumbnail-uploader
    position: relative

    .thumbnail-upload-button
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      width: 100%
      height: ds.rem(37)
      border-radius: ds.rem(7)
      padding: 0 ds.rem(17)
      @include ds.fw(pre, 700)

      html[data-theme="yellow-light"] &
        background-color: rgba(ds.$hex-accent, .1)
        color: ds.$hex-accent

      html[data-theme="yellow-dark"] &
        background-color: rgba(ds.$hex-bright, .1)
        color: ds.$hex-bright

    .thumbnail-file-input
      position: absolute
      inset: 0
      opacity: 0
      cursor: pointer

  .thumbnail-dialog-preview
    img
      border-radius: ds.rem(7)

  .thumbnail-dialog-actions
    display: flex
    gap: ds.rem(12)
    justify-content: flex-end

    button
      padding: 0 ds.rem(17)!important
      width: ds.rem(137)!important
      height: ds.rem(37)!important
      font-size: ds.rem(16)!important
      white-space: nowrap

      &.thumbnail-dialog-cancel-button
        background-color: transparent!important

        html[data-theme="yellow-light"] &
          color: rgba(ds.$hex-primary, .5)!important

        html[data-theme="yellow-dark"] &
          color: rgba(ds.$hex-bright, .5)!important

      html[data-theme="yellow-light"] &
        background-color: rgba(ds.$hex-accent, .1)
        color: ds.$hex-accent

      html[data-theme="yellow-dark"] &
        background-color: rgba(ds.$hex-bright, .1)
        color: ds.$hex-bright

      &:disabled
        background-color: rgba(ds.$hex-tertiary, .1)
        color: rgba(ds.$hex-primary, .5)
