.container
  .content
    h1
      @include ds.fw(neo, 800)
      font-size: ds.rem(18)

.Accordion
  padding: 0!important
  gap: 0

  > div
    margin: 0!important
    border: 0
    box-shadow: none

    &::before
      opacity: 1!important

    button
      span
        @include ds.fw(neo, 700)
        font-size: ds.rem(14)

    > div
      border-top: 1px solid rgba(ds.$rgb-tertiary, .1)

      html[data-theme="yellow-dark"] &
        border-top: 1px solid rgba(ds.$rgb-tertiary, .5)

      div
        padding-top: 0!important
        padding-bottom: 0!important

      > div
        padding-top: ds.rem(17)!important
        padding-bottom: ds.rem(17)!important

      label
        span
          @include ds.fw(pre, 700)
          font-size: ds.rem(14)
          color: ds.$hex-warning!important
