*, ::before, ::after
  box-sizing: border-box

\::selection
  background-color: ds.$hex-bright
  color: ds.$hex-primary

html
  font-size: 16px

body
  margin: 0
  font-size: 16px
  word-break: keep-all
  -webkit-text-size-adjust: none
  transition: all .4s cubic-bezier(.4,0,.2,1)

body, pre, input, button, textarea, select
  font-size: 1rem
  @include ds.fw(pre, 400)
  font-optical-sizing: auto
  font-feature-settings: normal
  font-stretch: 100%
  text-size-adjust: 100%
  text-rendering: optimizeLegibility
  color: ds.$hex-bright
  -webkit-font-smoothing: antialiased

body
  &[data-theme="yellow-light"]
    background-color: ds.$hex-bright
    color: ds.$hex-primary

    pre, input, button, textarea, select
      color: ds.$hex-primary

  &[data-theme="yellow-dark"]
    background-color: ds.$hex-primary
    color: ds.$hex-bright

    pre, input, button, textarea, select
      color: ds.$hex-bright

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0

img
  @include ds.image-rendering
  user-drag: none

a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(255,255,255,.10)

  &:focus
    outline: 0

fieldset
  margin: 0
  padding: 0

label
  cursor: pointer

img, fieldset
  border: 0

p, ul, dl, pre
  margin-top: 0
  margin-bottom: 0

ul, ol
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  list-style-type: none

dd
  margin-left: 0

button
  cursor: pointer
  border: 0
  padding: 0

  html[data-theme="yellow-light"] &
    color: ds.$hex-primary

  html[data-theme="yellow-dark"] &
    color: ds.$hex-bright

input
  html[data-theme="yellow-light"] &
    color: ds.$hex-primary

  html[data-theme="yellow-dark"] &
    color: ds.$hex-bright

figure
  margin: 0

address, cite
  font-style: normal

iframe
  display: block

a, button, select, input
  user-select: none

.sr-only, hr
  @include ds.screen-reader-only

.sr-only:focus
  @include ds.visually-hidden-focusable
  background-color: ds.$hex-warning
  padding: ds.rem(5) ds.rem(7)
  color: ds.$hex-white
  @include ds.fw(pre, 700)

.seo
  @include ds.screen-reader-only

.paper
  border-radius: ds.rem(17)
  padding: ds.rem(23)
  box-shadow: 0 ds.rem(2) ds.rem(27) 0 rgba(ds.$hex-primary,.07)

  caption
    @include ds.screen-reader-only

  html[data-theme="yellow-light"] &
    background-color: ds.$hex-white

  html[data-theme="yellow-dark"] &
    background-color: ds.$hex-black

.button
  display: flex
  justify-content: center
  align-items: center
  height: ds.rem(37)
  border-radius: ds.rem(7)
  @include ds.fw(pre, 700)
  font-size: ds.rem(16)
  background-color: ds.$hex-accent
  color: ds.$hex-bright

  &:disabled
    background-color: ds.$hex-tertiary
    color: rgba(ds.$hex-bright, .7)

.link
  display: inline-flex
  flex-direction: row
  align-items: center
  gap: ds.rem(3)
  @include ds.fw(pre, 700)
  font-size: ds.rem(14)
  color: ds.$hex-accent

#__app
  display: flex
  flex-direction: column
  min-height: 100vh

  main
    display: flex
    flex: 1
    justify-content: center

    html[data-theme="yellow-light"] &
      background-color: rgba(ds.$hex-bright, .5)
      color: ds.$hex-primary

    html[data-theme="yellow-dark"] &
      background-color: rgba(ds.$hex-primary, .5)
      color: ds.$hex-bright

    .container
      display: flex
      flex-direction: row
      gap: ds.rem(23)
      max-width: ds.rem(1347)
      width: 100%
      padding: ds.rem(38) ds.rem(17) ds.rem(70)

      aside
        width: ds.rem(230)

      .content
        @include ds.col

    h2
      @include ds.fw(neo, 700)
      font-size: ds.rem(24)
