*, ::before, ::after
  box-sizing: border-box

\::selection
  background-color: ds.$hex-accent
  color: ds.$hex-primary

html
  --hex-primary: #181818
  --rgb-primary: 24, 24, 24
  --hex-secondary: #1F1F1F
  --rgb-secondary: 31, 31, 31
  --hex-accent: #EEB400
  --rgb-accent: 238, 180, 0
  --hex-action: #007ADB
  --rgb-action: 0, 122, 219
  --hex-warning: #FF555D
  --rgb-warning: 255, 85, 93
  --hex-bright: #F8F8F8
  --rgb-bright: 248, 248, 248
  --hex-light: #D7D7D7
  --rgb-light: 215, 215, 215

  &[data-colorset='default']
    --hex-primary: #181818
    --rgb-primary: 24, 24, 24
    --hex-secondary: #1F1F1F
    --rgb-secondary: 31, 31, 31
    --hex-accent: #EEB400
    --rgb-accent: 238, 180, 0
    --hex-action: #007ADB
    --rgb-action: 0, 122, 219
    --hex-warning: #FF555D
    --rgb-warning: 255, 85, 93
    --hex-bright: #F8F8F8
    --rgb-bright: 248, 248, 248
    --hex-light: #D7D7D7
    --rgb-light: 215, 215, 215

  &[data-colorset='coral']
    --hex-primary: #181818
    --rgb-primary: 24, 24, 24
    --hex-secondary: #2A2A2A
    --rgb-secondary: 42, 42, 42
    --hex-accent: #FF6F61
    --rgb-accent: 255, 111, 97
    --hex-action: #007ADB
    --rgb-action: 0, 122, 219
    --hex-warning: #D9363E
    --rgb-warning: 217, 54, 62
    --hex-bright: #FFF9F7
    --rgb-bright: 255, 249, 247
    --hex-light: #F3E7E3
    --rgb-light: 243, 231, 227

  &[data-colorset='teal']
    --hex-primary: #151B1B
    --rgb-primary: 21, 27, 27
    --hex-secondary: #263333
    --rgb-secondary: 38, 51, 51
    --hex-accent: #008C8C
    --rgb-accent: 0, 140, 140
    --hex-action: #006FC9
    --rgb-action: 0, 111, 201
    --hex-warning: #D9363E
    --rgb-warning: 217, 54, 62
    --hex-bright: #F5FBFB
    --rgb-bright: 245, 251, 251
    --hex-light: #DDEEEE
    --rgb-light: 221, 238, 238

  &[data-colorset='royalblue']
    --hex-primary: #151821
    --rgb-primary: 21, 24, 33
    --hex-secondary: #252A36
    --rgb-secondary: 37, 42, 54
    --hex-accent: #4169E1
    --rgb-accent: 65, 105, 225
    --hex-action: #005FCC
    --rgb-action: 0, 95, 204
    --hex-warning: #D9363E
    --rgb-warning: 217, 54, 62
    --hex-bright: #F7F9FF
    --rgb-bright: 247, 249, 255
    --hex-light: #E1E7FA
    --rgb-light: 225, 231, 250

  &[data-colorset='slateblue']
    --hex-primary: #191821
    --rgb-primary: 25, 24, 33
    --hex-secondary: #2A2836
    --rgb-secondary: 42, 40, 54
    --hex-accent: #6A5ACD
    --rgb-accent: 106, 90, 205
    --hex-action: #006FC9
    --rgb-action: 0, 111, 201
    --hex-warning: #D9363E
    --rgb-warning: 217, 54, 62
    --hex-bright: #F9F8FF
    --rgb-bright: 249, 248, 255
    --hex-light: #E6E2F5
    --rgb-light: 230, 226, 245

  &[data-colorset='seagreen']
    --hex-primary: #151C18
    --rgb-primary: 21, 28, 24
    --hex-secondary: #26332B
    --rgb-secondary: 38, 51, 43
    --hex-accent: #2E8B57
    --rgb-accent: 46, 139, 87
    --hex-action: #006FC9
    --rgb-action: 0, 111, 201
    --hex-warning: #D9363E
    --rgb-warning: 217, 54, 62
    --hex-bright: #F6FBF8
    --rgb-bright: 246, 251, 248
    --hex-light: #DDEDE4
    --rgb-light: 221, 237, 228

  &[data-colorset='orchid']
    --hex-primary: #1E1720
    --rgb-primary: 30, 23, 32
    --hex-secondary: #332735
    --rgb-secondary: 51, 39, 53
    --hex-accent: #BA55D3
    --rgb-accent: 186, 85, 211
    --hex-action: #006FC9
    --rgb-action: 0, 111, 201
    --hex-warning: #D9363E
    --rgb-warning: 217, 54, 62
    --hex-bright: #FCF7FD
    --rgb-bright: 252, 247, 253
    --hex-light: #EEDDF2
    --rgb-light: 238, 221, 242

  &[data-colorset='tomato']
    --hex-primary: #1F1715
    --rgb-primary: 31, 23, 21
    --hex-secondary: #342823
    --rgb-secondary: 52, 40, 35
    --hex-accent: #FF6347
    --rgb-accent: 255, 99, 71
    --hex-action: #007ADB
    --rgb-action: 0, 122, 219
    --hex-warning: #D9363E
    --rgb-warning: 217, 54, 62
    --hex-bright: #FFF8F5
    --rgb-bright: 255, 248, 245
    --hex-light: #F0DED8
    --rgb-light: 240, 222, 216

html
  font-size: 16px

body
  margin: 0
  font-size: 16px
  word-break: keep-all
  -webkit-text-size-adjust: none
  transition: all .4s cubic-bezier(.4,0,.2,1)

body, pre, input, button, textarea, select
  font-size: 1rem
  @include ds.fw(pre, 400)
  font-optical-sizing: auto
  font-feature-settings: normal
  font-stretch: 100%
  text-size-adjust: 100%
  text-rendering: optimizeLegibility
  color: ds.$hex-bright
  -webkit-font-smoothing: antialiased

body
  background-color: ds.$hex-bright
  color: ds.$hex-primary

  pre, input, button, textarea, select
    color: ds.$hex-primary

  html[data-theme="yellow-dark"] &
    background-color: ds.$hex-primary
    color: ds.$hex-bright

    pre, input, button, textarea, select
      color: ds.$hex-bright

  .MuiAppBar-root
    background-color: transparent

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0

img
  @include ds.image-rendering
  user-drag: none

a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(255,255,255,.10)

  &:focus
    outline: 0

fieldset
  margin: 0
  padding: 0

label
  cursor: pointer

img, fieldset
  border: 0

p, ul, dl, pre
  margin-top: 0
  margin-bottom: 0

ul, ol
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  list-style-type: none

dd
  margin-left: 0

button
  cursor: pointer
  border: 0
  padding: 0
  color: ds.$hex-primary

  html[data-theme="yellow-dark"] &
    color: ds.$hex-bright

input
  color: ds.$hex-primary

  html[data-theme="yellow-dark"] &
    color: ds.$hex-bright

figure
  margin: 0

address, cite
  font-style: normal

iframe
  display: block

a, button, select, input
  user-select: none

.sr-only, hr
  @include ds.screen-reader-only

.sr-only:focus
  @include ds.visually-hidden-focusable
  background-color: ds.$hex-warning
  padding: ds.rem(5) ds.rem(7)
  color: ds.$hex-white
  @include ds.fw(pre, 700)

.seo
  @include ds.screen-reader-only

.service-editor
  .toastui-editor-defaultUI
    border-radius: ds.rem(17)!important
    overflow: hidden
    border: 0!important
    box-shadow: 0 ds.rem(2) ds.rem(27) 0 rgba(ds.$rgb-primary,.07)

.loading-container
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: ds.rem(200)

  .loading-indicator
    width: ds.rem(40)
    height: ds.rem(40)

.form
  legend
    @include ds.screen-reader-only

.paper
  display: flex
  flex-direction: column
  gap: ds.rem(12)
  border-radius: ds.rem(17)
  padding: ds.rem(23)
  box-shadow: 0 ds.rem(2) ds.rem(27) 0 rgba(ds.$rgb-primary,.07)
  overflow: auto

  @include ds.mq(maxMedium)
    padding: ds.rem(12)

  .paper
    padding: ds.rem(12)
    border-radius: ds.rem(12)
    border: 1px solid rgba(ds.$rgb-tertiary, .2)
    background-color: ds.$hex-white

    html[data-theme="yellow-dark"] &
      border: 1px solid rgba(ds.$rgb-tertiary, .5)
      background-color: ds.$hex-black

  &.paper-p0
    padding: 0

  &.paper-error
    background-color: ds.$hex-warning!important
    color: ds.$hex-bright!important
    @include ds.fw(neo, 700)
    text-align: center

  &.pape-error
    align-items: center
    padding-top: ds.rem(27)
    padding-bottom: ds.rem(27)
    color: ds.$hex-warning

    @include ds.mq(minSmall)
      padding-top: ds.rem(53)
      padding-bottom: ds.rem(53)

    > svg
      width: 50%
      height: auto
      max-width: ds.rem(170)

      @include ds.mq(minSmall)
        max-width: ds.rem(270)

    > p
      @include ds.fw(neo, 800)
      font-size: ds.rem(14)

      @include ds.mq(minSmall)
        font-size: ds.rem(16)

  caption
    @include ds.screen-reader-only

  table:not(.MuiTable-root)
    table-layout: fixed
    border-collapse: collapse
    width: 100%

    thead
      tr
        border-bottom: 1px solid rgba(ds.$rgb-tertiary, .2)

        html[data-theme="yellow-dark"] &
          border-bottom: 1px solid rgba(ds.$rgb-tertiary, .5)

        th
          height: ds.rem(52)
          @include ds.fw(neo, 700)
          font-size: ds.rem(14)
          line-height: 1.15

          &.long-cell
            padding-left: ds.rem(12)
            text-align: left

    tbody
      tr
        border-bottom: 1px solid rgba(ds.$rgb-tertiary, .05)

        html[data-theme="yellow-dark"] &
          border-bottom: 1px solid rgba(ds.$rgb-tertiary, .25)

        &.pinned, &:hover
          background-color: rgba(ds.$rgb-accent, .05)

          html[data-theme="yellow-dark"] &
            background-color: rgba(ds.$rgb-accent, .1)

          a
            @include ds.fw(pre, 700)

        td
          height: ds.rem(37)
          font-size: ds.rem(14)
          text-align: center
          color: ds.$hex-primary

          html[data-theme="yellow-dark"] &
            color: ds.$hex-bright

          &.long-cell
            padding: 0 ds.rem(12)
            text-align: left

          a
            strong
              @include ds.fw(pre, 800)
              color: ds.$hex-warning

            &:hover, &:focus-visible
              text-decoration: underline

          a, cite
            display: block
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
            padding-top: ds.rem(3)
            min-width: 0
            height: ds.rem(22)
            font-size: ds.rem(14)
            line-height: ds.rem(14)
            letter-spacing: -.05em
            color: ds.$hex-primary

            html[data-theme="yellow-dark"] &
              color: ds.$hex-bright

  ol.list
    display: flex
    flex-direction: column

    li, a
      display: flex
      flex-direction: column

    li
      &:first-of-type
        a
          border-top: 0!important
          padding-top: 0

          &.pinned
            padding-top: ds.rem(12)!important

      &:last-of-type
        a
          padding-bottom: 0

    a
      gap: ds.rem(7)
      padding: ds.rem(12) 0
      border-top: 1px solid rgba(ds.$rgb-tertiary, .1)

      html[data-theme="yellow-dark"] &
        border-top: 1px solid rgba(ds.$rgb-tertiary, .3)

      &.pinned
        background-color: rgba(ds.$rgb-accent, .05)

        html[data-theme="yellow-dark"] &
          background-color: rgba(ds.$rgb-accent, .1)

      .subject
        display: flex
        flex-direction: column

      .board-subject
        height: ds.rem(22)

        i, small, strong
          flex-shrink: 0
          flex: 0 0 auto

        small
          max-width: 70%

        span
          min-width: 0
          @include ds.ellipsis
          letter-spacing: -.05em
          font-size: ds.rem(14)
          line-height: ds.rem(14)
          color: ds.$hex-primary

          html[data-theme="yellow-dark"] &
            color: ds.$hex-bright

        strong
          opacity: .5
          color: ds.$hex-secondary

          html[data-theme="yellow-dark"] &
            color: ds.$hex-light

      .board-content
        padding-top: ds.rem(3)

      .tail
        display: flex
        gap: ds.rem(7)
        align-items: center
        font-size: ds.rem(12)
        opacity: .7
        line-height: 1
        color: ds.$hex-secondary

        html[data-theme="yellow-dark"] &
          color: ds.$hex-light

        cite
          display: inline-block
          @include ds.ellipsis

        span
          display: flex
          align-items: center
          gap: ds.rem(3)

  .board-subject
    display: flex
    flex-direction: row
    align-items: center
    gap: ds.rem(7)
    height: ds.rem(37)

    i
      color: ds.$hex-accent

      &.number
        margin-right: ds.rem(7)
        color: ds.$hex-action
        @include ds.fw(pre, 700)
        font-style: normal
        font-size: ds.rem(12)

      &.pin-icon
        color: ds.$hex-warning

        svg
          transform: rotate(45deg)

    i, small, > strong, em
      display: flex
      align-items: center
      flex: none
      height: ds.rem(22)

    > strong
      @include ds.fw(neo, 800)
      font-size: ds.rem(11)
      opacity: .5

    em
      @include ds.fw(pre, 700)
      font-size: ds.rem(12)
      font-style: normal
      color: ds.$hex-warning

    svg
      width: ds.rem(16)
      height: ds.rem(16)

    .board-chip
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      max-width: ds.rem(120)
      padding: ds.rem(4) ds.rem(5) ds.rem(3)
      border-radius: ds.rem(6)
      line-height: 1
      font-size: ds.rem(12)
      background-color: rgba(ds.$rgb-tertiary, .2)
      color: rgba(ds.$rgb-primary, .7)

      html[data-theme="yellow-dark"] &
        background-color: rgba(ds.$rgb-tertiary, .5)
        color: rgba(ds.$rgb-bright, .7)

      &.prefix-name
        border: 1px solid ds.$hex-accent
        background-color: ds.$hex-white

        html[data-theme="yellow-dark"] &
          background-color: ds.$hex-black

      &.series-name
        background-color: transparent!important
        border: 1px solid ds.$hex-action

  .board-content
    margin-bottom: ds.rem(3)
    @include ds.line-abbr(2, 42, 1.5)
    font-size: ds.rem(12)
    opacity: .7
    color: ds.$hex-secondary

    html[data-theme="yellow-dark"] &
      color: ds.$hex-light

    strong
      @include ds.fw(pre, 800)
      color: ds.$hex-warning

.vh-dialog
  .MuiDialog-paper
    border-radius: ds.rem(17)
    box-shadow: 0 ds.rem(2) ds.rem(27) 0 rgba(ds.$rgb-primary,.07)

    .MuiDialogTitle-root, .MuiDialogContent-root
      padding: ds.rem(17) ds.rem(27)

    .MuiDialogTitle-root
      font-size: ds.rem(16)
      border-bottom: 1px solid rgba(ds.$rgb-tertiary, .2)

      html[data-theme="yellow-dark"] &
        border-bottom: 1px solid rgba(ds.$rgb-tertiary, .5)

    .MuiDialogActions-root
      padding: ds.rem(7) ds.rem(27) ds.rem(27)

      button
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: ds.rem(52)
        border-radius: ds.rem(7)
        @include ds.fw(pre, 700)
        font-size: ds.rem(20)
        background-color: ds.$hex-accent
        color: ds.$hex-bright

        &:disabled
          background-color: ds.$hex-tertiary
          color: rgba(ds.$rgb-bright, .7)

  &.vh-alert-dialog
    .MuiDialog-paper
      .MuiDialogContent-root
        img
          max-width: 100%
          height: auto

      .MuiDialogActions-root
        display: flex
        gap: ds.rem(12)
        justify-content: flex-end

        .complex-button
          display: flex
          gap: ds.rem(12)

          button
            margin-left: 0

        button
          display: flex
          justify-content: center
          align-items: center
          padding: 0 ds.rem(17)
          width: ds.rem(137)
          height: ds.rem(37)
          border-radius: ds.rem(7)
          @include ds.fw(pre, 700)
          font-size: ds.rem(16)
          background-color: ds.$hex-accent
          white-space: nowrap
          color: ds.$hex-bright
          background-color: rgba(ds.$rgb-accent, .1)
          color: ds.$hex-accent

          &.delete-button
            background-color: transparent!important
            border: 1px solid ds.$hex-warning!important
            color: ds.$hex-warning!important

          &.cancel-button
            background-color: transparent!important
            color: rgba(ds.$rgb-primary, .5)!important

          &.warning-button
            background-color: ds.$hex-warning
            color: ds.$hex-white

          &:disabled
            color: rgba(ds.$rgb-accent, .5)!important
            background-color: rgba(ds.$rgb-accent, .1)!important

        &.complex-buttons
          gap: 0
          justify-content: space-between

.vh-checkbox, .vh-radio
  .Mui-checked
    color: ds.$hex-accent!important

.vh-form-control
  .Mui-focused, .MuiFormLabel-root
    @include ds.fw(neo, 400)
    color: ds.$hex-primary!important

    html[data-theme="yellow-dark"] &
      color: ds.$hex-bright!important

    &.MuiOutlinedInput-root, &.MuiPickersTextField-root
      fieldset
        border-color: ds.$hex-accent!important

.button
  display: flex
  justify-content: center
  align-items: center
  height: ds.rem(37)
  border-radius: ds.rem(7)
  @include ds.fw(pre, 700)
  font-size: ds.rem(16)
  white-space: nowrap
  background-color: ds.$hex-accent

  html[data-theme="yellow-dark"] &
    color: ds.$hex-bright

  &.small
    height: ds.rem(27)
    padding: 0 ds.rem(12)
    font-size: ds.rem(14)

  &.medium
    height: ds.rem(40)
    padding: 0 ds.rem(17)
    font-size: ds.rem(16)
    white-space: nowrap

  &.small, &.medium
    border-radius: ds.rem(5)
    transition: all .4s cubic-bezier(.4,0,.2,1)

  &.submit
    border: 1px solid ds.$hex-accent
    background-color: ds.$hex-accent
    color: ds.$hex-white

    html[data-theme="yellow-dark"] &
      color: ds.$hex-black

    &:hover, &:focus-visible
      box-shadow: 0 0 0 ds.rem(3) rgba(ds.$rgb-accent, .5)

  &.close
    border: 1px solid transparent
    background-color: transparent
    color: rgba(ds.$rgb-secondary, .7)

    html[data-theme="yellow-dark"] &
      color: rgba(ds.$rgb-light, .7)

    &:hover, &:focus-visible
      box-shadow: 0 0 0 ds.rem(3) rgba(ds.$rgb-action, .5)

  &.action
    border: 1px solid ds.$hex-accent!important
    background-color: ds.$hex-white
    color: rgba(ds.$rgb-secondary, .8)

    html[data-theme="yellow-dark"] &
      background-color: ds.$hex-black
      color: rgba(ds.$rgb-light, .8)

  &.submit, &.action
    &:hover, &:focus-visible
      box-shadow: 0 0 0 ds.rem(3) rgb(ds.$rgb-accent, .5)

  &.cancel
    background-color: transparent!important
    border: 1px solid rgba(ds.$rgb-tertiary, .2)
    color: rgba(ds.$rgb-secondary, .9)

    html[data-theme="yellow-dark"] &
      border: 1px solid rgba(ds.$rgb-tertiary, .5)
      color: rgba(ds.$rgb-light, .7)

    &:hover, &:focus-visible
      box-shadow: 0 0 0 ds.rem(3) rgba(ds.$rgb-tertiary, .3)

  &.danger
    border: 1px solid ds.$hex-warning
    background-color: ds.$hex-white
    color: ds.$hex-primary

    html[data-theme="yellow-dark"] &
      background-color: ds.$hex-black
      color: ds.$hex-bright

  &.warning
    border: 1px solid ds.$hex-warning
    background-color: ds.$hex-warning
    color: ds.$hex-bright

    html[data-theme="yellow-dark"] &
      color: rgba(ds.$rgb-secondary, .8)

  &.danger, &.warning
    &:hover, &:focus-visible
      box-shadow: 0 0 0 ds.rem(3) rgba(ds.$rgb-warning, .5)

  &:disabled
    opacity: .2
    cursor: not-allowed

.link
  display: inline-flex
  flex-direction: row
  align-items: center
  gap: ds.rem(3)
  @include ds.fw(pre, 700)
  font-size: ds.rem(14)
  color: ds.$hex-accent

.link-normal
  display: inline-flex
  flex-direction: row
  align-items: center
  gap: ds.rem(3)
  max-width: ds.rem(170)
  @include ds.fw(pre, 600)
  font-size: ds.rem(14)
  @include ds.ellipsis
  text-decoration: underline
  color: ds.$hex-primary

  html[data-theme="yellow-dark"] &
    color: ds.$hex-bright

#__app
  display: flex
  flex-direction: column
  min-height: 100vh

main
  display: flex
  flex: 1
  justify-content: center
  background-color: rgba(ds.$rgb-bright, .5)
  color: ds.$hex-primary

  html[data-theme="yellow-dark"] &
    background-color: rgba(ds.$rgb-primary, .5)
    color: ds.$hex-bright

  h2
    @include ds.fw(neo, 700)
    font-size: ds.rem(24)

.container
  display: flex
  flex-direction: row
  gap: ds.rem(23)
  justify-content: center
  max-width: ds.rem(1347)
  width: 100%
  padding: ds.rem(38) ds.rem(17) ds.rem(70)

  @include ds.mq(maxMedium)
    padding: ds.rem(17) ds.rem(17) ds.rem(53)
    gap: ds.rem(12)

  aside
    display: flex
    flex-direction: column
    gap: ds.rem(17)
    width: ds.rem(230)

  .content
    @include ds.col

.viewer
  p
    margin: ds.rem(7) 0
    font-size: ds.rem(14)
    line-height: 1.5

    &:first-of-type
      margin-top: 0

    &:last-of-type
      margin-bottom: 0

.service-editor
  .toastui-editor-main-container
    color: ds.$hex-secondary

  .toastui-editor-dark .toastui-editor-main-container
    color: ds.$hex-light

.toastui-editor-dark
  .toastui-editor-popup-add-fontSize, .toastui-editor-popup-add-textAlign, .toastui-editor-popup-add-textColor
    ul
      li:hover
        background-color: #36383f

.toastui-editor-popup-add-fontSize, .toastui-editor-popup-add-textAlign, .toastui-editor-popup-add-textColor
  .toastui-editor-popup-body
    padding: 0

  ul
    padding: 5px 0
    list-style: none

    li
      cursor: pointer
      padding: 4px 12px

      &:hover
        background-color: #dff4ff

.toastui-editor-dark
  .toastui-editor-toolbar-icons
    &.fontSize
      background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 5.5c0 .83.67 1.5 1.5 1.5H14v10.5c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5V7h3.5c.83 0 1.5-.67 1.5-1.5S21.33 4 20.5 4h-10C9.67 4 9 4.67 9 5.5M4.5 12H6v5.5c0 .83.67 1.5 1.5 1.5S9 18.33 9 17.5V12h1.5c.83 0 1.5-.67 1.5-1.5S11.33 9 10.5 9h-6C3.67 9 3 9.67 3 10.5S3.67 12 4.5 12' fill='%23EEEEEE'%3E%3C/path%3E%3C/svg%3E") 3px 3px

    &.textAlign
      background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 17H5c-.55 0-1 .45-1 1s.45 1 1 1h8c.55 0 1-.45 1-1s-.45-1-1-1m6-8H5c-.55 0-1 .45-1 1s.45 1 1 1h14c.55 0 1-.45 1-1s-.45-1-1-1M5 15h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1s.45 1 1 1M4 6c0 .55.45 1 1 1h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1' fill='%23EEEEEE'%3E%3C/path%3E%3C/svg%3E") 3px 3px

    &.textColor
      background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20H4c-1.1 0-2 .9-2 2s.9 2 2 2h16c1.1 0 2-.9 2-2s-.9-2-2-2M7.11 17c.48 0 .91-.3 1.06-.75l1.01-2.83h5.65l.99 2.82c.16.46.59.76 1.07.76.79 0 1.33-.79 1.05-1.52L13.69 4.17C13.43 3.47 12.75 3 12 3s-1.43.47-1.69 1.17L6.06 15.48c-.28.73.27 1.52 1.05 1.52m4.83-11.4h.12l2.03 5.79H9.91z' fill='%23EEEEEE'%3E%3C/path%3E%3C/svg%3E") 3px 3px

.toastui-editor-toolbar-icons
  &.fontSize
    background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 5.5c0 .83.67 1.5 1.5 1.5H14v10.5c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5V7h3.5c.83 0 1.5-.67 1.5-1.5S21.33 4 20.5 4h-10C9.67 4 9 4.67 9 5.5M4.5 12H6v5.5c0 .83.67 1.5 1.5 1.5S9 18.33 9 17.5V12h1.5c.83 0 1.5-.67 1.5-1.5S11.33 9 10.5 9h-6C3.67 9 3 9.67 3 10.5S3.67 12 4.5 12' fill='%23555555'%3E%3C/path%3E%3C/svg%3E") 3px 3px

  &.textAlign
    background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 17H5c-.55 0-1 .45-1 1s.45 1 1 1h8c.55 0 1-.45 1-1s-.45-1-1-1m6-8H5c-.55 0-1 .45-1 1s.45 1 1 1h14c.55 0 1-.45 1-1s-.45-1-1-1M5 15h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1s.45 1 1 1M4 6c0 .55.45 1 1 1h14c.55 0 1-.45 1-1s-.45-1-1-1H5c-.55 0-1 .45-1 1' fill='%23555555'%3E%3C/path%3E%3C/svg%3E") 3px 3px

  &.textColor
    background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20H4c-1.1 0-2 .9-2 2s.9 2 2 2h16c1.1 0 2-.9 2-2s-.9-2-2-2M7.11 17c.48 0 .91-.3 1.06-.75l1.01-2.83h5.65l.99 2.82c.16.46.59.76 1.07.76.79 0 1.33-.79 1.05-1.52L13.69 4.17C13.43 3.47 12.75 3 12 3s-1.43.47-1.69 1.17L6.06 15.48c-.28.73.27 1.52 1.05 1.52m4.83-11.4h.12l2.03 5.79H9.91z' fill='%23555555'%3E%3C/path%3E%3C/svg%3E") 3px 3px

.rsme-embed
  &.rsme-facebook-embed
    background-color: ds.$hex-white

body
  code, pre
    &[class*="language-"]
      font-size: ds.rem(14)!important

  .toastui-editor-contents :not(table)
    line-height: 1.37

    html[data-site-type='blog'] &
      line-height: var(--blog-description-line-height)

  .viewer, .toastui-editor-contents
    @include ds.fw(pre, 400)
    font-size: ds.rem(14)
    line-height: 1.37

    html[data-site-type='blog'] &
      letter-spacing: var(--blog-description-letter-spacing)
      line-height: var(--blog-description-line-height)
      font-size: var(--blog-description-font-size)

    img
      max-width: 100%

    strong
      @include ds.fw(pre, 700)

  .viewer, .toastui-editor-contents
    p
      color: ds.$hex-secondary
      line-height: 1.37

      html[data-site-type='blog'] &
        letter-spacing: var(--blog-description-letter-spacing)
        line-height: var(--blog-description-line-height)
        font-size: var(--blog-description-font-size)

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    p
      color: ds.$hex-light

  .viewer, .toastui-editor-contents
    blockquote
      color: rgba(ds.$rgb-secondary, .7)
      border-left: ds.rem(5) solid rgba(ds.$rgb-tertiary, .7)
      margin: ds.rem(16)
      padding: 0 ds.rem(18)

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    blockquote
      border-color: rgba(ds.$rgb-tertiary, .9)

  .viewer, .toastui-editor-contents
    ul, menu, ol, dir
      color: ds.$hex-secondary
      margin: ds.rem(7) 0 ds.rem(12)
      padding-left: ds.rem(23)
      list-style-type: none
      display: block

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    ul, menu, ol, dir
      color: ds.$hex-light

      p
        color: ds.$hex-light

  .viewer, .toastui-editor-contents
    ul, ol
      li
        position: relative

  .viewer, .toastui-editor-contents
    ul, ol
      & > li::before
        display: inline-block
        position: absolute

  .viewer, .toastui-editor-contents
    ul
      & > li::before
        content: ''
        background-color: ds.$hex-secondary
        border-radius: 50%
        width: ds.rem(5)
        height: ds.rem(5)
        margin-top: ds.rem(7)
        margin-left: ds.rem(-17)

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    ul
      & > li::before
        background-color: ds.$hex-light

  .viewer, .toastui-editor-contents
    .task-list-item
      border: 0
      margin-left: ds.rem(-23)
      padding-left: ds.rem(23)
      list-style: none

  .viewer, .toastui-editor-contents
    .task-list-item::before
      content: ''
      cursor: pointer
      background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M18 19H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1m1-16H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2' fill='%23DFDFDF'%3E%3C/path%3E%3C/svg%3E") 0 0 / cover
      border-radius: ds.rem(3)
      width: ds.rem(18)
      height: ds.rem(18)
      margin-top: 0
      margin-left: 0
      position: absolute
      top: 1px
      left: 0

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    .task-list-item::before
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M18 19H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h12c.55 0 1 .45 1 1v12c0 .55-.45 1-1 1m1-16H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2' fill='%23313131'%3E%3C/path%3E%3C/svg%3E")

  .viewer, .toastui-editor-contents
    .task-list-item.checked::before
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-8.29 13.29c-.39.39-1.02.39-1.41 0L5.71 12.7a.996.996 0 0 1 0-1.41c.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41z' fill='%23EEB400'%3E%3C/path%3E%3C/svg%3E")

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    .task-list-item.checked::before
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-8.29 13.29c-.39.39-1.02.39-1.41 0L5.71 12.7a.996.996 0 0 1 0-1.41c.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0s.39 1.02 0 1.41z' fill='%23EEB400'%3E%3C/path%3E%3C/svg%3E")

  .viewer, .toastui-editor-contents
    ol
      counter-reset: li
      list-style-type: none

  .viewer, .toastui-editor-contents
    ol
      & > li
        counter-increment: li

  .viewer, .toastui-editor-contents
    ol
      & > li::before
        content: '.' counter(li)
        text-align: right
        color: ds.$hex-secondary
        direction: rtl
        width: ds.rem(24)
        margin-left: ds.rem(-28)

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    ol
      & > li::before
        color: ds.$hex-light

  .viewer, .toastui-editor-contents
    table
      color: ds.$hex-secondary
      border-collapse: collapse
      table-layout: fixed
      box-sizing: border-box
      border: 1px solid rgba(ds.$rgb-tertiary, .7)
      border-radius: ds.rem(7)
      width: 100%
      margin: ds.rem(12) 0 ds.rem(14)

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    table
      border-color: rgba(ds.$rgb-tertiary, .9)

  .viewer, .toastui-editor-contents
    table
      th, td
        border: 1px solid rgba(ds.$rgb-tertiary, .7)
        padding: ds.rem(5) ds.rem(14) ds.rem(5) ds.rem(12)

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    table
      th, td
        border-color: rgba(ds.$rgb-tertiary, .9)

  .viewer, .toastui-editor-contents
    table
      th
        color: ds.$hex-bright
        background-color: ds.$hex-primary
        padding-top: ds.rem(6)
        @include ds.fw(neo, 500)

        html[data-site-type='blog'] &
          font-family: var(--blog-subject-font-family)
          font-weight: 500
          font-variation-settings: "wght" 500

        p
          color: ds.$hex-bright

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    table
      th
        background-color: ds.$hex-bright
        color: ds.$hex-primary

        p
          color: ds.$hex-primary

  .viewer, .toastui-editor-contents
    a
      color: ds.$hex-action
      text-decoration: underline
      @include ds.fw(pre, 500)

      html[data-site-type='blog'] &
        font-family: var(--blog-description-font-family)
        font-weight: 500
        font-variation-settings: "wght" 500

  .viewer, .toastui-editor-contents
    pre, code
      font-family: 'SF Mono', 'Monaco', 'DejaVu Sans Mono', 'Ubuntu Mono', 'Roboto Mono', 'Cascadia Code', 'Consolas', 'Lucida Console', 'Courier', 'D2Coding', monospace
      border: 0
      border-radius: 0

  .viewer, .toastui-editor-contents
    p
      code
        color: ds.$hex-warning
        letter-spacing: -.05em
        background-color: rgba(ds.$rgb-warning, .17)
        border-radius: ds.rem(3)
        padding: ds.rem(2) ds.rem(3)

  .dark-viewer .viewer, .toastui-editor-dark .toastui-editor-contents
    p
      code
        background-color: rgba(ds.$rgb-warning, .07)

html[data-site-type='blog']
  h2, h3
    letter-spacing: var(--blog-subject-letter-spacing)!important
    line-height: var(--blog-subject-line-height)!important

.fab
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  right: 0
  bottom: 0
  width: ds.rem(102)
  height: ds.rem(102)

  a
    background-color: ds.$hex-accent
    color: ds.$hex-white

    &:hover, &:focus-visible
      background-color: ds.$hex-secondary

.VhiMenu-popover
  li
    padding: 0

  a
    display: flex
    flex-direction: row
    align-items: center
    gap: ds.rem(5)
    padding: ds.rem(7) ds.rem(17)
    opacity: .8
    color: ds.$hex-secondary

    html[data-theme="yellow-dark"] &
      color: ds.$hex-light

    svg, i
      width: ds.rem(16)
      height: ds.rem(16)

    i
      display: inline-flex

    &.current
      @include ds.fw(pre, 600)
      color: ds.$hex-accent!important
      opacity: 1

.MuiInputBase-root.MuiOutlinedInput-root,
.MuiPickersInputBase-root.MuiPickersOutlinedInput-root
  &.Mui-focused
    .MuiOutlinedInput-notchedOutline,
    .MuiPickersOutlinedInput-notchedOutline
      border-color: ds.$hex-accent!important
      border-size: 1px!important
      box-shadow: 0 0 0 ds.rem(3) rgba(ds.$rgb-accent, .5)!important

.MuiCheckbox-root.MuiButtonBase-root.MuiCheckbox-indeterminate
  color: ds.$hex-accent

.MuiButtonBase-root
  &.MuiRadio-root, &.MuiCheckbox-root
    &.Mui-checked
      color: ds.$hex-accent

.VhiDrawer-bottom
  z-index: 2080!important

  &.VhiDrawer-bottom-service
    div[role="dialog"]
      margin: 0 ds.rem(17)

  div[role="dialog"]
    max-height: calc(100dvh - ds.rem(34))
    border-radius: ds.rem(17) ds.rem(17) 0 0
    padding: ds.rem(17)

    h2
      margin-bottom: ds.rem(12)
      @include ds.fw(neo, 700)
      font-size: ds.rem(18)

    .close-button
      background-color: transparent
      position: absolute
      top: ds.rem(17)
      right: ds.rem(17)
      width: ds.rem(20)
      height: ds.rem(20)

      svg
        width: ds.rem(20)
        height: ds.rem(20)

    .VhiDrawer-bottom-content
      max-height: 100vh
      overflow-y: auto

.VhiDialog
  div[role="dialog"]
    border-radius: ds.rem(17)
    padding: ds.rem(17)

    h2, .MuiDialogContent-root, .MuiDialogActions-root
      padding-right: 0
      padding-left: 0

    h2, .MuiDialogActions-root
      padding-bottom: 0

    h2
      padding-top: 0
      @include ds.fw(neo, 700)
      font-size: ds.rem(20)

    .MuiDialogContent-root
      padding-top: ds.rem(7)
      padding-bottom: 0

    .MuiDialogActions-root
      padding-top: ds.rem(23)

    .close-button
      background-color: transparent
      position: absolute
      top: ds.rem(23)
      right: ds.rem(23)
      width: ds.rem(20)
      height: ds.rem(20)

      svg
        width: ds.rem(20)
        height: ds.rem(20)

.alerts
  margin-top: ds.rem(23)
  display: flex
  flex-direction: column
  gap: ds.rem(12)

.alert
  display: flex
  gap: ds.rem(12)
  padding: 0

  &.info
    color: ds.$hex-accent

    span
      color: ds.$hex-secondary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-light

  &.error, &.warning
    color: ds.$hex-warning

  svg
    width: ds.rem(22)
    height: ds.rem(22)

  span
    @include ds.fw(pre, 500)
    font-size: ds.rem(14)

.MuiPickerPopper-paper, .MuiDialog-paperScrollPaper
  border-radius: ds.rem(17)!important
  padding: 0

.MuiChip-root.chip
  &.default
    background-color: rgba(ds.$rgb-tertiary, .2)
    color: ds.$hex-secondary

    html[data-theme="yellow-dark"] &
      background-color: rgba(ds.$rgb-tertiary, .5)
      color: ds.$hex-light

  &.success
    background-color: ds.$hex-accent
    color: ds.$hex-white

    html[data-theme="yellow-dark"] &
      color: ds.$hex-black

  &.warning
    background-color: ds.$hex-warning
    color: ds.$hex-white

    html[data-theme="yellow-dark"] &
      color: ds.$hex-black
