header.header
  display: flex
  align-items: center
  justify-content: center

  &.header-mini
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 0
    opacity: 0
    transition: all .4s cubic-bezier(.4,0,.2,1)
    overflow: hidden

    &.header-mini-visible
      height: ds.rem(47)
      opacity: 1
      overflow: visible
      z-index: 1020
      background-color: ds.$hex-white

      html[data-theme="yellow-dark"] &
        background-color: ds.$hex-black

    .container
      .top
        height: ds.rem(47)

        h1
          a
            img, svg
              height: ds.rem(20)

  &.settings-header
    background-color: ds.$hex-white

    html[data-theme="yellow-dark"] &
      background-color: ds.$hex-black

  .container
    display: flex
    flex-direction: column
    max-width: ds.rem(1347)
    width: 100%
    padding: 0 ds.rem(17)

    .top, .bottom
      display: flex
      flex-direction: row
      align-items: center
      gap: ds.rem(23)
      justify-content: space-between

    .top
      height: ds.rem(64)

    .bottom
      overflow: auto
      scrollbar-width: none

      &::-webkit-scrollbar
        display: none

  .gnb
    display: flex
    gap: ds.rem(23)

    > *
      display: inline-flex
      align-items: center

    h1
      a
        display: inline-flex
        gap: ds.rem(7)

  .settings
    display: flex
    justify-content: space-between
    width: 100%

    .backlink
      display: inline-flex
      gap: ds.rem(7)
      padding: ds.rem(8)
      color: ds.$hex-secondary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-light

      span
        display: inline-flex
        align-items: center
        @include ds.fw(pre, 600)
        font-size: ds.rem(16)
        line-height: 1

        @include ds.mq(maxMedium)
          @include ds.screen-reader-only

    h1
      display: inline-flex
      align-items: center
      @include ds.fw(neo, 800)
      font-size: ds.rem(18)

    i
      width: ds.rem(40)
      height: 1px

  .iconbuttons
    display: flex

  h1
    a
      @include ds.fw(neo, 800)
      font-size: ds.rem(24)
      line-height: 1
      color: ds.$hex-accent

      span
        display: inline-flex
        align-items: center

      img, svg
        display: block
        width: auto
        height: ds.rem(24)

      svg
        width: ds.rem(24)
        height: ds.rem(24)!important

  .menu
    display: flex
    gap: ds.rem(12)
    padding-left: ds.rem(27)

    li.current
      a
        @include ds.fw(neo, 800)
        color: ds.$hex-primary

        html[data-theme="yellow-dark"] &
          @include ds.fw(neo, 800)
          color: ds.$hex-light

    a
      @include ds.fw(neo, 500)
      font-size: ds.rem(18)
      line-height: 1
      transition: all .4s cubic-bezier(.4,0,.2,1)
      color: rgba(ds.$rgb-secondary, .9)

      &:hover, &:focus-visible
        @include ds.fw(neo, 800)
        color: ds.$hex-primary

      html[data-theme="yellow-dark"] &
        color: rgba(ds.$rgb-light, .7)

        &:hover, &:focus-visible
          @include ds.fw(neo, 800)
          color: ds.$hex-light

  .icon-button
    opacity: .9

    svg
      width: ds.rem(24)
      height: ds.rem(24)

  .search
    .form-group
      display: flex
      flex-direction: row
      gap: ds.rem(7)
      width: ds.rem(270)
      position: relative
      border: 1px solid ds.$hex-accent
      border-radius: ds.rem(7)
      @include ds.fw(pre, 700)
      background-color: ds.$rgb-white
      color: ds.$hex-primary

      html[data-theme="yellow-dark"] &
        background-color: ds.$rgb-black
        color: ds.$hex-bright

      .form-control
        @include ds.col

        input
          background-color: transparent
          border: 0
          padding: 0 ds.rem(17)
          width: 100%
          height: ds.rem(37)

      button
        posiation: absolute
        top: 0
        right: 0
        display: flex
        justify-content: center
        align-items: center
        background-color: transparent
        width: ds.rem(37)
        height: ds.rem(37)

  .navigationbar
    display: flex
    align-items: center

    nav
      ol
        display: flex
        gap: ds.rem(17)

        li
          display: inline-flex
          height: ds.rem(30)

          &:hover, &:focus-visible, &.current
            a
              span
                color: ds.$hex-accent!important

              i
                background-color: ds.$hex-accent

          a
            display: inline-flex
            flex-direction: column
            transition: all .4s cubic-bezier(.4,0,.2,1)
            white-space: nowrap

            span
              display: inline-flex
              padding: ds.rem(7) 0 ds.rem(5)
              @include ds.fw(neo, 700)
              font-size: ds.rem(16)
              line-height: 1
              transition: all .4s cubic-bezier(.4,0,.2,1)
              color: ds.$hex-primary

              html[data-theme="yellow-dark"] &
                color: ds.$hex-bright

            i
              display: inline-flex
              width: 100%
              height: ds.rem(2)
              transition: all .4s cubic-bezier(.4,0,.2,1)

.VhiMenu
  div[tabindex="-1"]
    border-radius: ds.rem(12)
    box-shadow: rgba(0, 0, 0, 0.2) 0 ds.rem(20) ds.rem(30)
    width: ds.rem(237)
    max-width: none

    html[data-theme="yellow-dark"] &
      border: 1px solid rgba(ds.$rgb-tertiary, .2)
      background: ds.$hex-black

    li
      padding: ds.rem(7) ds.rem(17)
      line-height: 1
      min-height: 0

      html[data-theme="yellow-dark"] &
        background: ds.$hex-black

      &:hover
        background: rgba(0,0,0,.1)!important

      a, span
        line-height: 1

      &[role="menuitem"]
        padding: ds.rem(7) ds.rem(17)

        &:not(.MenuItem)
          padding: 0

    .VhiMenu-theme
      border-bottom: 1px solid rgba(ds.$rgb-tertiary, .1)
      padding: ds.rem(17)
      margin-bottom: ds.rem(7)

      strong
        @include ds.fw(neo, 800)
        font-size: ds.rem(16)

    .VhiMenu-profile
      display: flex
      gap: ds.rem(12)
      border-bottom: 1px solid rgba(ds.$rgb-tertiary, .1)
      padding: ds.rem(17)
      margin-bottom: ds.rem(7)

      &:hover
        background: transparent!important

      & + .VhiDrawer-subheader
        border-top: 0
        padding-top: ds.rem(7)

      .VhiMenu-profile-info
        display: flex
        flex-direction: column
        justify-content: center
        gap: ds.rem(7)
        width: calc(100% - ds.rem(50))

        em, span
          display: block
          line-height: 1
          @include ds.ellipsis
          color: ds.$hex-secondary

          html[data-theme="yellow-dark"] &
            color: ds.$hex-light

        em
          @include ds.fw(neo, 800)
          font-size: ds.rem(14)
          font-style: normal

        span
          font-size: ds.rem(12)
          opacity: .5

    .VhiDrawer-subheader
      html[data-theme="yellow-dark"] &
        color: ds.$hex-bright

      &:hover
        background: transparent!important

    .MenuItem, .MenuItem-icon, .MenuItem-text
      color: ds.$hex-secondary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-light

    .MenuItem
      opacity: .7

      &:hover
        opacity: 1

    .MenuItem-icon
      min-width: 0
      width: ds.rem(20)
      margin-right: ds.rem(7)

    .MenuItem-text span
      @include ds.fw(pre, 600)

    a
      display: flex
      align-items: center
      gap: ds.rem(7)
      flex: 1 0 0%
      opacity: .7
      transition: all .4s cubic-bezier(.4,0,.2,1)
      padding: ds.rem(7) ds.rem(17)
      color: ds.$hex-secondary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-light

      &:hover, &:focus-visible
        opacity: 1

      span
        @include ds.fw(pre, 600)

.appbar
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: ds.rem(47)
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 ds.rem(17)
  z-index: 1024
  background-color: ds.$hex-white

  html[data-theme="yellow-dark"] &
    background-color: ds.$hex-black

  &.header-appbar
    flex-direction: column
    height: ds.rem(84)

    .top, .bottom
      width: 100%
      display: flex
      align-items: center

    .top
      justify-content: space-between
      height: ds.rem(47)

    .bottom
      overflow: auto
      scrollbar-width: none
      height: ds.rem(37)

      &::-webkit-scrollbar
        display: none

      .navigationbar
        display: flex
        align-items: center

        nav
          ol
            display: flex
            gap: ds.rem(17)

            li
              display: inline-flex

              &:hover, &:focus-visible, &.current
                a
                  span
                    color: ds.$hex-accent!important

                  i
                    background-color: ds.$hex-accent

              a
                display: inline-flex
                flex-direction: column
                transition: all .4s cubic-bezier(.4,0,.2,1)
                white-space: nowrap

                span
                  display: inline-flex
                  padding: ds.rem(7) 0 ds.rem(5)
                  @include ds.fw(neo, 700)
                  font-size: ds.rem(16)
                  line-height: 1
                  transition: all .4s cubic-bezier(.4,0,.2,1)
                  color: ds.$hex-primary

                  html[data-theme="yellow-dark"] &
                    color: ds.$hex-bright

                i
                  display: inline-flex
                  width: 100%
                  height: ds.rem(2)
                  transition: all .4s cubic-bezier(.4,0,.2,1)

  &.hidden
    display: none

  > i
    @include ds.mq(maxExtraSmall)
      display: none!important

  .location
    width: ds.rem(40)
    height: ds.rem(40)
    display: inline-flex
    align-items: center

    svg
      width: ds.rem(24)
      height: ds.rem(24)

  h1
    display: inline-flex

    span
      @include ds.screen-reader-only

    strong
      @include ds.fw(neo, 800)
      font-size: ds.rem(18)
      line-height: 1

.VhiDrawer
  div[tabindex="-1"]
    width: ds.rem(407)
    border-top-left-radius: ds.rem(17)
    border-bottom-left-radius: ds.rem(17)

    @include ds.mq(maxExtraSmall)
      width: 100%
      border-radius: 0

    html[data-theme="yellow-dark"] &
      border-left: 1px solid rgba(ds.$rgb-tertiary, .2)
      background: ds.$hex-black

    ul
      padding-bottom: ds.rem(27)

    li
      line-height: 1
      min-height: 0

      html[data-theme="yellow-dark"] &
        background: ds.$hex-black

      &:hover
        background: rgba(0,0,0,.1)!important

      a, span
        line-height: 1

      &[role="menuitem"]
        padding: ds.rem(7) ds.rem(17)

        &:not(.MenuItem)
          padding: 0

    .VhiDrawer-header
      display: flex
      justify-content: flex-end
      position: sticky
      top: 0
      padding: ds.rem(7)
      z-index: 1090
      background-color: ds.$hex-white

      html[data-theme="yellow-dark"] &
        background-color: ds.$hex-black

      &:hover
        background: none!important

      strong
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        @include ds.fw(neo, 900)
        font-size: ds.rem(18)
        color: ds.$hex-primary

        html[data-theme="yellow-dark"] &
          color: ds.$hex-bright

    .VhiMenu-theme
      border-bottom: 1px solid rgba(ds.$rgb-tertiary, .1)
      padding: ds.rem(17)
      margin-bottom: ds.rem(7)

      strong
        @include ds.fw(neo, 800)
        font-size: ds.rem(16)

    .VhiMenu-profile
      display: flex
      gap: ds.rem(12)
      border-bottom: 1px solid rgba(ds.$rgb-tertiary, .3)
      padding: ds.rem(17)
      margin-bottom: ds.rem(7)

      &:hover
        background: transparent!important

      & + .VhiDrawer-subheader
        border-top: 0
        padding-top: ds.rem(7)

      .VhiMenu-profile-info
        display: flex
        flex-direction: column
        justify-content: center
        gap: ds.rem(5)
        width: calc(100% - ds.rem(50))

        em, span
          display: block
          line-height: 1.2
          @include ds.ellipsis
          color: ds.$hex-secondary

        em
          @include ds.fw(neo, 800)
          font-size: ds.rem(14)
          font-style: normal

        span
          font-size: ds.rem(12)
          opacity: .5

    .searchform
      padding: ds.rem(7) ds.rem(17)

      &:hover
        background: none!important

    .search
      .form-group
        display: flex
        flex-direction: row
        gap: ds.rem(7)
        width: 100%
        position: relative
        border: 1px solid ds.$hex-accent
        border-radius: ds.rem(37)
        @include ds.fw(pre, 700)
        background-color: ds.$rgb-white
        color: ds.$hex-primary

        html[data-theme="yellow-dark"] &
          background-color: ds.$rgb-black
          color: ds.$hex-bright

        .form-control
          @include ds.col

          input
            background-color: transparent
            border: 0
            padding: 0 ds.rem(17)
            width: 100%
            height: ds.rem(37)

        button
          posiation: absolute
          top: 0
          right: 0
          display: flex
          justify-content: center
          align-items: center
          background-color: transparent
          width: ds.rem(37)
          height: ds.rem(37)

    .theme-buttons
      display: flex
      padding-top: ds.rem(3)
      margin: 0 ds.rem(17)

      &:hover
        background-color: transparent!important

      @include ds.mq(maxExtraSmall)
        svg
          display: none

      button
        display: flex
        align-items: center
        justify-content: center
        gap: ds.rem(7)
        @include ds.col
        background-color: transparent
        margin-left: -1px
        padding: ds.rem(12) ds.rem(7)
        transition: all .4s cubic-bezier(.4,0,.2,1)
        border: 1px solid rgba(ds.$rgb-tertiary, .5)

        html[data-theme="yellow-dark"] &
          border: 1px solid rgba(ds.$rgb-tertiary, .5)

        span
          @include ds.fw(pre, 600)
          transition: all .4s cubic-bezier(.4,0,.2,1)

        &.active
          border-color: ds.$hex-accent!important
          background-color: ds.$hex-accent
          color: rgba(ds.$rgb-secondary, .8)

          span
            @include ds.fw(pre, 800)

        &:first-of-type
          margin-left: 0
          border-top-left-radius: ds.rem(12)
          border-bottom-left-radius: ds.rem(12)

        &:last-of-type
          border-top-right-radius: ds.rem(12)
          border-bottom-right-radius: ds.rem(12)

    .VhiDrawer-subheader
      margin-top: ds.rem(7)
      border-top: 1px solid rgba(ds.$rgb-tertiary, .2)
      padding: ds.rem(12) ds.rem(17) ds.rem(7)
      @include ds.fw(neo, 800)
      font-size: ds.rem(16)
      line-height: 1
      color: ds.$hex-primary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-bright

      &:hover
        background: transparent!important

    .MenuItem, .MenuItem-icon, .MenuItem-text
      color: ds.$hex-secondary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-light

    .MenuItem
      opacity: .7
      transition: all .4s cubic-bezier(.4,0,.2,1)

      &:hover
        opacity: 1

    .MenuItem-icon
      min-width: 0
      width: ds.rem(20)
      margin-right: ds.rem(7)

    .MenuItem-text span
      @include ds.fw(pre, 600)

    a
      display: flex
      align-items: center
      gap: ds.rem(7)
      flex: 1 0 0%
      opacity: .7
      transition: all .4s cubic-bezier(.4,0,.2,1)
      padding: ds.rem(7) ds.rem(17)
      color: ds.$hex-secondary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-light

      &:hover, &:focus-visible
        opacity: 1

      span
        @include ds.fw(pre, 600)

.VhiDrawer-search
  div[tabindex="-1"]
    border-bottom-right-radius: ds.rem(12)
    border-bottom-left-radius: ds.rem(12)

    .mobile-search
      display: flex
      align-items: center
      gap: ds.rem(7)
      padding: 0 ds.rem(17) 0 ds.rem(12)
      height: ds.rem(72)

      form
        @include ds.col

      .search
        .form-group
          display: flex
          flex-direction: row
          gap: ds.rem(7)
          width: 100%
          position: relative
          border: 1px solid ds.$hex-accent
          border-radius: ds.rem(37)
          @include ds.fw(pre, 700)
          background-color: ds.$rgb-white
          color: ds.$hex-primary

          html[data-theme="yellow-dark"] &
            background-color: ds.$rgb-black
            color: ds.$hex-bright

          .form-control
            @include ds.col

            input
              background-color: transparent
              border: 0
              padding: 0 ds.rem(17)
              width: 100%
              height: ds.rem(37)

          button
            posiation: absolute
            top: 0
            right: 0
            display: flex
            justify-content: center
            align-items: center
            background-color: transparent
            width: ds.rem(37)
            height: ds.rem(37)

main.manage
  flex-direction: column
  align-items: center
  justify-content: flex-start

  .tabs
    padding-bottom: 0
    display: flex
    flex-direction: row

    @include ds.mq(maxSmall)
      ul
        max-width: none!important

    @include ds.mq(maxMedium)
      position: sticky
      top: ds.rem(47)
      z-index: 21
      padding-right: 0
      padding-left: 0
      background-color: ds.$hex-white

      html[data-theme="yellow-dark"] &
        background-color: ds.$hex-black

      &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 1px
        background-color: rgba(ds.$rgb-tertiary, .5)

    & + div
      @include ds.mq(minLarge)
        padding-top: ds.rem(23)

    ul
      display: flex
      flex-direction: row
      max-width: ds.rem(572)

      @include ds.mq(minLarge)
        gap: ds.rem(12)

      li
        @include ds.mq(maxMedium)
          @include ds.col

        a
          display: inline-flex
          @include ds.fw(neo, 500)
          font-size: ds.rem(16)
          color: rgba(ds.$rgb-secondary, .8)

          html[data-theme="yellow-dark"] &
            color: rgba(ds.$rgb-light, .8)

          @include ds.mq(maxMedium)
            position: relative
            z-index: 1
            width: 100%
            justify-content: center
            border-bottom: 1px solid rgba(ds.$rgb-tertiary, .5)
            padding: ds.rem(5) 0 ds.rem(9)

          @include ds.mq(minLarge)
            align-items: center
            height: ds.rem(32)
            border: 1px solid rgba(ds.$rgb-tertiary, .5)
            border-radius: ds.rem(32)
            padding: 0 ds.rem(12)
            background-color: ds.$hex-white

            html[data-theme="yellow-dark"] &
              background-color: ds.$hex-black

        &.current
          a
            @include ds.fw(neo, 700)
            color: ds.$hex-secondary

            @include ds.mq(maxMedium)
              border-bottom: ds.rem(3) solid ds.$hex-accent
              padding: ds.rem(5) 0 ds.rem(7)

            @include ds.mq(minLarge)
              border: 1px solid ds.$hex-accent
              background-color: ds.$hex-accent!important
              color: ds.$hex-white

              html[data-theme="yellow-dark"] &
                color: rgba(ds.$rgb-secondary, .8)

  .breadcrumbs
    display: flex
    flex-direction: row
    padding-bottom: ds.rem(12)

    nav[aria-label="breadcrumb"]
      display: flex
      flex-direction: row
      max-width: ds.rem(572)

      li[aria-hidden="true"]
        margin: 0 ds.rem(3)

      a
        @include ds.fw(pre, 500)
        color: ds.$hex-action
        text-decoration: underline

      span
        @include ds.fw(pre, 700)
        color: ds.$hex-secondary

        html[data-theme="yellow-dark"] &
          color: ds.$hex-light
