.content
  display: flex
  flex-direction: column
  gap: ds.rem(23)
  max-width: ds.rem(572)
  width: 100%

  .paper
    display: flex
    flex-direction: column

    .headline
      display: flex
      justify-content: space-between

    h2
      font-size: ds.rem(18)

    > p
      text-align: center
      @include ds.fw(neo, 600)

    .notifications
      display: flex
      flex-direction: column
      gap: ds.rem(12)

      &.read-notification
        opacity: .7

      a, button
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: ds.rem(7)
        text-align: left

        strong
          @include ds.fw(neo, 700)
          font-size: ds.rem(16)
          color: ds.$hex-primary

          html[data-theme="yellow-dark"] &
            color: ds.$hex-bright

        div
          display: flex
          flex-direction: column
          gap: ds.rem(2)

        p, time
          font-size: ds.rem(14)
          color: ds.$hex-secondary

        p
          opacity: .9
          line-height: 1.25

        time
          opacity: .7

    .type-summary
      gap: ds.rem(2)

      div
        display: flex
        justify-content: space-between
        padding: ds.rem(7) ds.rem(12)
        border-radius: ds.rem(7)

        &:hover
          background-color: rgb(ds.$rgb-tertiary, .1)

          html[data-theme="yellow-dark"] &
            background-color: rgb(ds.$rgb-tertiary, .2)

        dt
          @include ds.fw(pre, 700)

    .summary
      display: flex
      flex-direction: row
      gap: ds.rem(7)

      @include ds.mq(maxExtraSmall)
        display: grid
        grid-template-columns: repeat(1, 1fr)

      div
        @include ds.col
        gap: ds.rem(7)

        dt
          @include ds.fw(neo, 700)
          font-size: ds.rem(16)
          color: ds.$hex-primary

          html[data-theme="yellow-dark"] &
            color: ds.$hex-bright

        dd
          text-align: right
          font-size: ds.rem(14)

    td
      button
        padding: 0
        background-color: transparent

      a, button
        text-decoration: underline
        color: ds.$hex-secondary

        html[data-theme="yellow-dark"] &
          color: ds.$hex-bright

.home-content
  .profile
    gap: ds.rem(23)

    .profile-header
      display: flex
      flex-direction: column
      align-items: center
      gap: ds.rem(12)

      .meta
        display: flex
        flex-direction: column
        align-items: center

      cite
        @include ds.fw(neo, 800)
        font-size: ds.rem(20)
        line-height: 1

      span
        font-size: ds.rem(14)
        color: ds.$hex-secondary
        opacity: .7

    .profile-bio
      p
        white-space: pre-wrap
        font-size: ds.rem(14)

  .pending
    .pending-sites
      display: flex
      flex-direction: column
      gap: 0

    .pending-site
      display: flex
      flex-direction: column
      gap: ds.rem(12)
      padding: ds.rem(17) 0
      border-top: 1px solid rgba(ds.$rgb-tertiary, .1)

      html[data-theme="yellow-dark"] &
        border-top: 1px solid rgba(ds.$rgb-tertiary, .5)

      &:first-of-type
        padding-top: 0
        border-top: 0!important

      &:last-of-type
        padding-bottom: 0

      .pending-header
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        .site-name
          display: flex
          gap: ds.rem(7)
          align-items: center

          em
            display: flex
            background-color: ds.$hex-accent
            border-radius: ds.rem(13)
            padding: ds.rem(7) ds.rem(12)
            @include ds.fw(pre, 600)
            font-size: ds.rem(12)
            font-style: normal
            color: ds.$hex-white
            line-height: 1

          img
            width: auto
            height: ds.rem(24)
            display: block

          strong
            @include ds.fw(neo, 800)
            font-size: ds.rem(14)

        a
          padding: 0 ds.rem(12)

      p
        @include ds.fw(pre, 500)
        font-size: ds.rem(14)
        color: ds.$hex-action

.hub-content
  > ol
    display: flex
    flex-direction: row
    gap: 0

    li
      display: inline-flex
      align-items: center
      padding-right: ds.rem(12)

      &::before
        display: inline-block
        content: ''
        width: 1px
        height: ds.rem(17)
        background-color: rgba(ds.$rgb-tertiary, .3)

        html[data-theme="yellow-dark"] &
          background-color: rgba(ds.$rgb-tertiary, .5)

      &:first-of-type
        &::before
          display: none

        a
          padding-left: 0

      &:last-of-type
        padding-right: 0

      a
        display: inline-flex
        padding-left: ds.rem(12)
        color: ds.$hex-secondary
        opacity: .7

        html[data-theme="yellow-dark"] &
          color: ds.$hex-light
          opacity: .7

        &:hover, &:focus-visible
          color: ds.$hex-accent!important
          opacity: 1!important

      &.current
        a
          color: ds.$hex-accent!important
          opacity: 1!important

  h3
    & ~ ol
      display: flex
      flex-direction: column
      gap: ds.rem(7)

  .items
    ol
      display: flex
      flex-direction: column
      gap: ds.rem(7)

  .join
    .join-sites
      display: flex
      flex-direction: column
      gap: 0

    .join-site
      display: flex
      flex-direction: column
      gap: ds.rem(12)
      padding: ds.rem(17) 0
      border-top: 1px solid rgba(ds.$rgb-tertiary, .1)

      html[data-theme="yellow-dark"] &
        border-top: 1px solid rgba(ds.$rgb-tertiary, .5)

      &:first-of-type
        padding-top: 0
        border-top: 0!important

      &:last-of-type
        padding-bottom: 0

      .join-site-info
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        .site-name
          display: flex
          gap: ds.rem(7)
          align-items: center
          flex-wrap: wrap

          img
            width: auto
            height: ds.rem(24)
            display: block

          strong
            @include ds.fw(neo, 800)
            font-size: ds.rem(14)

          em
            display: flex
            background-color: ds.$hex-accent
            border-radius: ds.rem(13)
            padding: ds.rem(7) ds.rem(12)
            @include ds.fw(pre, 600)
            font-size: ds.rem(12)
            font-style: normal
            color: ds.$hex-white
            line-height: 1

          small
            display: inline-flex
            border-radius: ds.rem(13)
            padding: ds.rem(6) ds.rem(10)
            @include ds.fw(pre, 600)
            font-size: ds.rem(11)
            line-height: 1
            color: ds.$hex-secondary
            background-color: rgba(ds.$rgb-tertiary, .12)

            &.operation-normal
              color: ds.$hex-action

            &.operation-payment_failed, &.operation-blocked, &.operation-closed
              color: ds.$hex-warning

          em.member-block, em.member-kick, em.member-ban
            background-color: ds.$hex-warning

          em.member-rejoin
            background-color: ds.$hex-action

        a
          padding: 0 ds.rem(12)

      .join-site-list
        display: flex
        flex-direction: column

        ol
          display: flex
          flex-direction: column

          li
            display: flex
            flex-direction: column

            a
              display: flex
              flex-direction: row
              align-items: center
              gap: ds.rem(17)
              height: ds.rem(23)
              font-size: ds.rem(14)
              color: ds.$hex-secondary

              html[data-theme="yellow-dark"] &
                color: ds.$hex-light

              &:hover, &:focus-visible
                strong
                  text-decoration: underline

              span
                display: flex
                @include ds.col
                flex-direction: row
                align-items: center
                gap: ds.rem(7)
                height: ds.rem(37)
                overflow: hidden
                text-overflow: ellipsis

              strong
                display: block
                @include ds.fw(pre, 500)

              strong, cite
                overflow: hidden
                text-overflow: ellipsis
                white-space: nowrap
                padding-top: ds.rem(3)
                min-width: 0
                height: ds.rem(22)
                font-size: ds.rem(14)
                line-height: ds.rem(14)
                letter-spacing: -.05em
                color: ds.$hex-primary

                html[data-theme="yellow-dark"] &
                  color: ds.$hex-bright

              small
                font-size: ds.rem(12)
                opacity: .5

              cite, time
                opacity: .7

              cite
                width: ds.rem(72)
                justify-content: flex-end

                @include ds.mq(maxExtraSmall)
                  @include ds.screen-reader-only

              time
                width: ds.rem(57)
                justify-content: flex-end

              cite, time, small
                display: flex
                align-items: center
                flex: none
                height: ds.rem(22)

      .member-status-message
        @include ds.fw(pre, 500)
        font-size: ds.rem(14)
        color: ds.$hex-secondary

  h3
    @include ds.fw(neo, 600)
    font-size: ds.rem(16)

  .likey
    .likey-sites
      gap: 0

      .items
        display: flex
        flex-direction: column
        padding: ds.rem(17) 0
        border-top: 1px solid rgba(ds.$rgb-tertiary, .1)

        html[data-theme="yellow-dark"] &
          border-top: 1px solid rgba(ds.$rgb-tertiary, .5)

        &:first-of-type
          padding-top: 0
          border-top: 0!important

        &:last-of-type
          padding-bottom: 0

    ol
      padding-top: ds.rem(7)

      a
        display: flex
        flex-direction: column
        color: ds.$hex-primary

        html[data-theme="yellow-dark"] &
          color: ds.$hex-bright

        &:hover, &:focus-visible
          strong, p
            text-decoration: underline

          p
            & ~ strong
              text-decoration: none

        strong, p
          @include ds.fw(pre, 500)
          font-size: ds.rem(14)

        p
          & ~ strong
            font-size: ds.rem(12)
            opacity: .9

        cite, .tail
          font-size: ds.rem(12)
          opacity: .7

        .tail
          display: flex
          gap: ds.rem(7)

          em
            font-style: normal

    .buttons
      display: flex
      justify-content: flex-end

      ul
        display: flex
        gap: ds.rem(3)
        border-radius: ds.rem(7)
        padding: ds.rem(3)
        background-color: ds.$hex-white

        html[data-theme="yellow-dark"] &
          background-color: ds.$hex-black

      li
        display: flex
        align-items: center

        &::before
          content: ''
          display: inline-block
          margin-right: ds.rem(2)
          width: 1px
          height: ds.rem(20)
          background-color: rgba(ds.$rgb-tertiary, .5)

          html[data-theme="yellow-dark"] &
            background-color: rgba(ds.$rgb-tertiary, .9)

        &:first-of-type
          &::before
            display: none

      button
        display: flex
        justify-content: center
        align-items: center
        background-color: transparent
        width: ds.rem(28)
        height: ds.rem(28)
        color: rgba(ds.$rgb-tertiary, .5)

        html[data-theme="yellow-dark"] &
          color: rgba(ds.$rgb-tertiary, .9)

        &.selected
          color: ds.$hex-accent!important

        svg
          width: ds.rem(20)
          height: ds.rem(20)

  .history
    .items
      display: flex
      flex-direction: column
      padding: ds.rem(17) 0
      border-top: 1px solid rgba(ds.$rgb-tertiary, .1)

      html[data-theme="yellow-dark"] &
        border-top: 1px solid rgba(ds.$rgb-tertiary, .5)

      &:first-of-type
        padding-top: 0
        border-top: 0!important

      &:last-of-type
        padding-bottom: 0

      ol
        padding-top: ds.rem(7)

        a
          display: flex
          flex-direction: column
          color: ds.$hex-primary

          html[data-theme="yellow-dark"] &
            color: ds.$hex-bright

          strong, p
            @include ds.fw(pre, 500)
            font-size: ds.rem(14)

          p
            & ~ strong
              font-size: ds.rem(12)
              opacity: .9

          cite, .tail
            font-size: ds.rem(12)
            opacity: .7

          .tail
            display: flex
            gap: ds.rem(7)

            em
              font-style: normal

.detail-billing
  display: flex
  flex-direction: column
  gap: ds.rem(3)
  div
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    dt, dd
      font-size: ds.rem(14)

    dt
      @include ds.fw(neo, 600)
      color: ds.$hex-primary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-bright

    dd
      opacity: .9
      text-align: right
      color: ds.$hex-secondary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-light

    &:last-of-type
      padding-top: ds.rem(3)

      dt, dd
        font-size: ds.rem(20)
        color: ds.$hex-warning!important

      dt
        @include ds.fw(neo, 800)

      dd
        opacity: 1
        @include ds.fw(pre, 800)
