.container
  @include ds.mq(maxSmall)
    padding-right: 0!important
    padding-left: 0!important

    .content
      max-width: none!important

    .paper
      border-radius: 0

      .paper
        border-radius: ds.rem(7)

  .tooltip
    padding: 0
    background-color: transparent
    font-size: ds.rem(14)
    text-decoration: underline

    html[data-theme="yellow-light"] &
      color: ds.$hex-secondary

    html[data-theme="yellow-dark"] &
      color: ds.$hex-light

.content
  width: 100%
  max-width: ds.rem(572)

.content-manage
  display: flex
  flex-direction: column
  gap: ds.rem(12)

  .stack-paper
    display: grid
    grid-template-columns: repeat(2, 1fr)

    .paper
      gap: 0

  .paper-table
    a
      text-decoration: underline

      html[data-theme="yellow-light"] &
        color: ds.$hex-secondary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-light

  .buttons
    display: flex
    gap: ds.rem(7)

  .profile
    display: flex
    flex-direction: row
    align-items: center

    .info
      p
        @include ds.fw(pre, 700)
        font-size: ds.rem(16)

        &:not(.text)
          @include ds.fw(pre, 400)
          font-size: ds.rem(14)
          opacity: .7

  .stat
    dl
      display: flex
      flex-direction: row

      div
        @include ds.col
        display: flex
        flex-direction: column
        gap: ds.rem(3)
        padding: 0 ds.rem(12)

        html[data-theme="yellow-light"] &
          border-left: 1px solid rgba(ds.$rgb-tertiary, .2)

        html[data-theme="yellow-dark"] &
          border-left: 1px solid rgba(ds.$rgb-tertiary, .3)

        &:first-of-type
          padding-left: 0
          border-left: 0!important

        &:last-of-type
          padding-right: 0

        dt
          @include ds.fw(neo, 700)
          font-size: ds.rem(16)

        dd
          font-size: ds.rem(14)

  .menu
    padding-top: 0
    padding-bottom: 0

    ul
      display: flex
      flex-direction: column

      @include ds.mq(maxSmall)
        padding: 0

      li
        a
          display: flex
          justify-content: space-between
          align-items: center
          height: ds.rem(52)

          html[data-theme="yellow-light"] &
            border-top: 1px solid rgba(ds.$rgb-tertiary, .2)
            color: ds.$hex-secondary

          html[data-theme="yellow-dark"] &
            border-top: 1px solid rgba(ds.$rgb-tertiary, .3)
            color: ds.$hex-light

          span
            @include ds.fw(neo, 600)

          svg
            opacity: .7

        &:first-of-type
          a
            border-top: 0!important

  .button-top
    position: fixed
    top: 0
    right: ds.rem(17)
    z-index: 1200
    margin-top: 0
    height: ds.rem(47)
    display: flex
    align-items: center

    html[data-theme="yellow-light"] &
      background-color: ds.$hex-white

    html[data-theme="yellow-dark"] &
      background-color: ds.$hex-black

    a, button
      &.button
        background-color: transparent!important
        padding: ds.rem(8)
        @include ds.fw(pre, 700)
        font-size: ds.rem(16)
        color: ds.$hex-action

        &:disabled
          color: rgba(ds.$rgb-primary, .2)!important

  .levels
    gap: 0

  .level-row
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: ds.rem(12)
    padding: ds.rem(12) 0

    @include ds.mq(minLarge)
      gap: ds.rem(23)
      padding: ds.rem(23) 0

    html[data-theme="yellow-light"] &
      border-top: 1px solid rgba(ds.$rgb-tertiary, .2)

    html[data-theme="yellow-dark"] &
      border-top: 1px solid rgba(ds.$rgb-tertiary, .3)

    &:first-of-type
      border-top: 0!important
      padding-top: 0

    &:last-of-type
      padding-bottom: 0

    .level-icon
      display: flex
      justify-content: center
      align-items: center
      width: ds.rem(25)
      height: ds.rem(40)

    .requirement-settings
      display: flex
      flex-wrap: wrap
      gap: ds.rem(3)

      p.requirement-type
        width: ds.rem(37)

.popup-level-rows
  display: flex
  flex-direction: column
  margin-bottom: ds.rem(12)!important

.popup-level-row
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  gap: ds.rem(7)
  padding: ds.rem(7) 0

  html[data-theme="yellow-light"] &
    border-top: 1px solid rgba(ds.$rgb-tertiary, .2)

  html[data-theme="yellow-dark"] &
    border-top: 1px solid rgba(ds.$rgb-tertiary, .3)

  &:first-of-type
    border-top: 0!important
    padding-top: 0

  &:last-of-type
    padding-bottom: 0

  button
    padding: 0!important
    width: ds.rem(36)!important
    height: ds.rem(36)!important
    justify-content: center

.radio-group
  gap: ds.rem(12)

.paper-sub
  gap: 0

  html[data-theme="yellow-light"] &
    border: 1px solid rgba(ds.$rgb-tertiary, .2)

  html[data-theme="yellow-dark"] &
    border: 1px solid rgba(ds.$rgb-tertiary, .5)

  .question-item
    padding: ds.rem(17) 0

    html[data-theme="yellow-light"] &
      border-top: 1px solid rgba(ds.$rgb-tertiary, .2)

    html[data-theme="yellow-dark"] &
      border-top: 1px solid rgba(ds.$rgb-tertiary, .3)

    &:first-of-type
      border-top: 0!important
      padding-top: 0

    &:last-of-type
      padding-bottom: 0

    button
      padding: 0!important
      width: ds.rem(36)!important
      height: ds.rem(36)!important
      justify-content: center

    .remove
      color: ds.$hex-warning!important
