.container
  .content
    display: flex
    flex-direction: column
    max-width: calc(100vw - ds.rem(34))
    gap: ds.rem(37)

    @include ds.mq(minLarge)
      max-width: calc(100vw - ds.rem(287))

    @include ds.mq(minXExtraLarge)
      max-width: ds.rem(1060)

  h2
    @include ds.fw(neo, 800)
    font-size: ds.rem(18)
    position: relative
    z-index: 1

  .slider
    margin-top: ds.rem(-32)
    padding-top: ds.rem(38)

    .slick-arrow
      position: absolute
      top: 0
      z-index: 1

      &.slick-prev
        right: ds.rem(32)

      &.slick-next
        right: 0

      button
        background: none
        padding: ds.rem(7)

        svg
          width: ds.rem(17)
          height: ds.rem(17)

    div
      &[class~="slick-slide"]
        display: flex
        flex-direction: column
        padding-right: ds.rem(12)
        width: ds.rem(370)

    a
      display: flex
      flex-direction: column
      justify-content: flex-end
      flex: 1
      width: 100%

    &.slider-created-sites
      div
        &[class~="slick-slide"]
          a
            border: 1px solid ds.$hex-secondary
            border-radius: ds.rem(12)
            padding: ds.rem(17)

            html[data-theme="yellow-light"] &
              background-color: ds.$hex-white

            html[data-theme="yellow-dark"] &
              background-color: ds.$hex-black

            strong
              @include ds.fw(neo, 800)
              font-size: ds.rem(16)
              overflow: hidden
              overflow-wrap: anywhere
              display: -webkit-box
              -webkit-box-orient: vertical
              -webkit-line-clamp: 1

              html[data-theme="yellow-light"] &
                color: ds.$hex-primary

              html[data-theme="yellow-dark"] &
                color: ds.$hex-bright

            p, time
              html[data-theme="yellow-light"] &
                color: ds.$hex-secondary

              html[data-theme="yellow-dark"] &
                color: ds.$hex-light

            p
              font-size: ds.rem(14)

            time
              font-size: ds.rem(12)
              opacity: 0.7

    &.slider-thumbnail
      div
        &[class~="slick-slide"]
          height: ds.rem(170)

          a
            border-radius: ds.rem(12)
            padding: ds.rem(17)
            height: ds.rem(170)!important
            position: relative
            overflow: hidden

            strong, p, div
              z-index: 1
              position: relative

            strong
              @include ds.fw(neo, 800)
              font-size: ds.rem(16)
              color: ds.$hex-bright
              overflow: hidden
              overflow-wrap: anywhere
              display: -webkit-box
              -webkit-box-orient: vertical
              -webkit-line-clamp: 1

            p
              font-size: ds.rem(14)
              color: ds.$hex-light
              opacity: 0.9
              overflow: hidden
              overflow-wrap: anywhere
              display: -webkit-box
              -webkit-box-orient: vertical
              -webkit-line-clamp: 2

            .tail
              color: ds.$hex-light
              opacity: 0.7
              display: flex
              flex-direction: row
              align-items: center
              height: ds.rem(18)
              font-size: ds.rem(12)

              em
                font-style: normal

              span, em
                flex: 0
                max-width: 33%
                height: ds.rem(18)
                overflow: clip
                display: inline-flex

              svg
                margin: 0 ds.rem(3) 0 ds.rem(12)
                width: ds.rem(12)
                height: ds.rem(12)

            &::before
              content: ''
              display: block
              position: absolute
              inset: 0
              background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,1) 100%)

  .list
    display: grid
    gap: ds.rem(17)
    margin-top: ds.rem(17)

    @include ds.mq(maxSmall)
      grid-template-columns: repeat(1, 1fr)!important

      a
        p
          height: auto!important

    &.list-newest
      grid-template-columns: repeat(2, 1fr)

    .item
      a
        display: flex
        flex-direction: column

        html[data-theme="yellow-light"] &
          background-color: ds.$hex-white

        html[data-theme="yellow-dark"] &
          background-color: ds.$hex-black

        .description-item
          display: flex
          flex-direction: row
          gap: ds.rem(12)

          &.description-item-mini
            .thumbnail
              img
                height: 100%
                object-fit: cover

        .description
          display: flex
          flex-direction: column
          @include ds.col

        .thumbnail
          width: ds.rem(172)

          img
            aspect-ratio: 1200 / 630
            width: 100%
            height: auto

        .info
          display: flex
          flex-direction: column
          gap: ds.rem(6)

          strong
            @include ds.fw(neo, 800)
            font-size: ds.rem(16)
            overflow: hidden
            overflow-wrap: anywhere
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 1

            html[data-theme="yellow-light"] &
              color: ds.$hex-primary

            html[data-theme="yellow-dark"] &
              color: ds.$hex-bright

          p
            height: ds.rem(63)
            font-size: ds.rem(14)
            opacity: 0.9
            overflow: hidden
            overflow-wrap: anywhere
            display: -webkit-box
            -webkit-box-orient: vertical
            -webkit-line-clamp: 3

            html[data-theme="yellow-light"] &
              color: ds.$hex-secondary

            html[data-theme="yellow-dark"] &
              color: ds.$hex-light

        .tail
          margin-top: ds.rem(12)
          display: flex
          flex-direction: column
          font-size: ds.rem(12)
          gap: ds.rem(12)

          html[data-theme="yellow-light"] &
            border-top: 1px solid rgba(ds.$rgb-tertiary, .2)
            color: ds.$hex-secondary

          html[data-theme="yellow-dark"] &
            border-top: 1px solid rgba(ds.$rgb-tertiary, .5)
            color: ds.$hex-light

          .tail-container
            padding-top: ds.rem(12)
            display: flex
            align-items: center

            em
              margin: 0 ds.rem(5)

            strong
              & + svg
                margin: 0 ds.rem(5) 0 ds.rem(12)

          strong
            padding-left: ds.rem(7)
            @include ds.fw(pre, 600)

          .tail-author, .tail-site
            display: flex
            align-items: center
            height: ds.rem(24)

          .tail-author
            margin-top: ds.rem(12)

            svg
              margin: 0 ds.rem(3) 0 ds.rem(12)
              width: ds.rem(12)
              height: ds.rem(12)

          em
            font-style: normal

          span, em
            flex: 0
            max-width: 33%
            height: ds.rem(18)
            overflow: clip
            display: inline-flex
