.container
  @include ds.mq(maxSmall)
    padding-right: 0!important
    padding-left: 0!important

    .content
      max-width: none!important

    .paper
      border-radius: 0

      .paper
        border-radius: ds.rem(7)

  .tooltip
    padding: 0
    background-color: transparent
    font-size: ds.rem(14)
    text-decoration: underline
    color: ds.$hex-secondary

    html[data-theme="yellow-dark"] &
      color: ds.$hex-light

.content
  width: 100%

.content-payments
  display: flex
  flex-direction: column
  gap: ds.rem(12)

  .stack-paper
    display: grid
    grid-template-columns: repeat(2, 1fr)

    .paper
      gap: 0

  .paper-table
    a
      text-decoration: underline
      color: ds.$hex-secondary

      html[data-theme="yellow-dark"] &
        color: ds.$hex-light

  .summary
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: ds.rem(23)

    > div
      p
        text-align: right

  .ToggleButtonGroup
    button
      border-color: ds.$hex-accent

      &[aria-pressed="true"]
        background-color: ds.$hex-accent
